@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
    position:relative;
    font-family: 'Roboto', sans-serif;
}

body,html{
    width: 100% !important;
    height: 100% !important;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1{
  font-family: 'Russo One', sans-serif;
}
header{
    position: relative;
    width: 100%;
    min-height: 600px;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    flex-wrap: wrap;
}
header div.about{
    position: relative;
    width: 500px;
    height: auto;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
header div.about h1{
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: 'Russo One', sans-serif;
}
header div.about k{
    color: greenyellow;
    font-size: 50px;
    letter-spacing: 6px;
}
header div.about span{
    font-size: 24px;
}
header div.about p{
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
}
header div.exp{
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
header div.exp h1{
    color: white;
    font-family: serif;
    font-family: 'Russo One', sans-serif;
}
header div.exp a{
	color: #fff;
    padding: 10px 20px;
    border: 1.5px solid #fff;
    text-decoration: none;
	border-radius: 15px;
	transition: 0.5s;
}
header div.exp a:hover{
	background: #fff;
	color: #000;
}
header div.exp .skillboard{
	width: 200px;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	color: #fff;
	font-size: 25px;
}
header div.about .social{
	position: relative;
	width: 150px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 20px;
}
header div.about .social a{
	color: #fff;
	font-size: 22px;
}
/*Responsive*/
@media screen and (max-width:1050px){
  header{
    flex-direction: column;
    padding-bottom: 50px;
  }
  header div.about h1{
    font-size: 34px;
  }
  header div.exp{
    width: 500px;
    height: auto;
    text-align: left;
  }
  header div.exp h1{
    font-size: 30px;
    letter-spacing: 3px;
  }
  header div.exp{
	  justify-content: flex-start;
	  align-items: flex-start;
  }
}

@media screen and (max-width:560px){
	header{
		padding: 0;
        justify-content: center;
        padding: 25px 0;
	}
	header div.about,
	header div.exp{
		position: relative;
		width: 90%;
	}
	header div.about{
		margin-bottom: 40px;
	}
	header div.about h1{
		font-size: 22px;
	}
	header div.about h1 span{
		font-size: 38px;
	}
	header div.about h2{
		font-size: 20px;
	}
	header div.about p{
		font-size: 13px;
	}
	header div.exp h1{
		font-size: 20px;
	}
	header div.exp a{
		font-size: 14px;
		padding: 10px 20px;
	}
}

/*=========================================Header Complete=========================================*/
.education{
	padding-top: 60px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #2196f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.education .ed{
	position: relative;
	width: 100%;
	min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.education .edu{
    width: 280px;
    height: 400px;
    padding: 0 20px;
    background: #fff8;
    box-shadow: 0 0 5px #fff;
    transition: 0.5s ease-out;
    margin: 30px 0;
    border-radius: 5px;
}
.education .edu:hover{
    box-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff;
    transform: translate(0,-10px);
}
.education .edu h3{
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
    letter-spacing: 2px;
    word-break: break-all;
}
.education .edu p{
    margin-top: 20px;
}
.education .edu i{
	font-size: 30px;
	margin-top: 40px;
	display: block;
	text-align: center;
}
.education .eduh1{
	position: relative;
	text-align: center;
	width: 250px;
	display: block;
	margin: 0 auto 50px;
	color: #fff;
	letter-spacing: 3px;
}
.education .eduh1::after{
	position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    height: 4.0px;
    width: 100%;
    background: #fff;
}
@media screen and (max-width:555px){
	.education {
		padding-bottom: 50px;
	}
	.education .edu{
		max-width: 240px;
	}
	.education .eduh1{
		font-size: 22px;
	}
	.education span{
		top: 90px;
	}
	.education .edu p{
		font-size: 14px;
	}
	.education .edu h1{
        font-size: 22px;
    }
}

/*==================================Project Section==================================*/
.project{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #0002;
    padding-top: 50px;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}
.project h1.header{
    position: relative;
    display: block;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 44px;
    width: 300px;
    display: block;
    margin: 0 auto 60px auto;
    color: #fff;
}
.project h1.header::before{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
}
.project h1.header::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    height: 2.5px;
    width: 100%;
    background: #fff;
}
.project .proj{
    position: relative;
    width: 80%;
    min-height: 400px;
    display: block;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.project .proj:nth-child(even){
    flex-direction: row-reverse;
}
.project .proj .content{
    position: relative;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.project .proj .content h1{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.project .proj .content a{
    position: relative;
    display: inline;
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    width: 90px;
    color: #fff;
    border: 1.5px solid #fff;
    transition: 0.5s;
}
.project .proj .content a:hover{
    background: #fff;
    color: #000;
}
.project .proj .img{
    position: relative;
    width: 500px;
    height: 285px;
    overflow: hidden;
}
.project .proj .img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .proj .img span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0009;
    left: -100%;    
    z-index: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project .proj .img span h1{
    text-transform: uppercase;
    position: relative;
    color: #fff;
    text-align: center;
    width: 220px;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
.project .proj .img span h1::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    height: 2.0px;
    width: 100%;
    background: #fff;
}
.project .proj .img span h1::before{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
}
.project .proj .img:hover span{
    left: 0;
    cursor: pointer;
}
.project .proj .img span:hover h1{
    opacity: 1;
}

@media screen and (max-width:1260px){
	.project .proj{
		position: relative;
		width: 95%;
	}
}

@media screen and (max-width:1150px){
	.project .proj{
		width: 100%;
	}
}

@media screen and (max-width:1075px){
    .project{
        padding-bottom: 40px;
    }
	.project .proj:nth-child(even),
	.project .proj:nth-child(odd){
		flex-direction: column-reverse !important;
		width: 85%;
		padding: 15px 0;
		margin: 20px auto;
	}
	.project .proj:nth-child(even) .content,
	.project .proj:nth-child(odd) .content{
		position: relative;
		width: 100%;
		height: auto;
	}
	.project .proj:nth-child(even) .img,
	.project .proj:nth-child(odd) .img{
		width: 100%;
		max-height: 200px;
		object-fit: contain;
		margin-bottom: 30px;
	}
	.project .proj:nth-child(even) .img img,
	.project .proj:nth-child(odd) .img img{
		object-fit: contain;
	}
	.project .proj:nth-child(even) .content p,
	.project .proj:nth-child(odd) .content p{
		font-size: 13px;
	}
	.project .proj:nth-child(even) .content h1,
	.project .proj:nth-child(odd) .content h1{
		font-size: 18px;
	}
}
@media screen and (max-width:400px){
	.project h1.header{
		font-size: 26px;
		width: 270px;
	}
}
/*=================================VIDEO==============================*/
#project{
	position: relative;
	width: 100%;
    min-height: 100vh;
    padding-bottom: 70px;
    background: #f79d00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 40px;
}
.section-header{
  text-align: center;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.section-header-underline {
  border: 1px solid #fff;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.video-gallery {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  height: auto;
  text-align: center;
}

.video-gallery .gallery-item{
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 260px;
  max-width: 580px;
  max-height: 360px;
  width: 48%;
  background: #000;
  cursor: pointer;
}

.video-gallery .gallery-item img{
  position: relative;
  display: block;
  opacity: .8;
  width: 105%;
  height: 300px;
  object-fit: contain;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-23px, 0, 0);
  backface-visibility: hidden;
}

.video-gallery .gallery-item .gallery-item-caption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 25px;
}


.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
  position: relative;
  margin: 0;
  z-index: 10;
}

.video-gallery .gallery-item p {
  letter-spacing: 1px;
  font-size: 68%;

  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img{
  opacity: .3;
  transform: translate3d(0, 0, 0);

}

.video-gallery .gallery-item .gallery-item-caption {
  text-align: left;
}
.video-gallery .gallery-item h2{
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
}
.video-gallery .gallery-item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  margin-left: 25px;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.video-gallery .gallery-item:hover h2::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.video-gallery .gallery-item:hover p {
  opacity: 1;
  margin-left: 25px;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
  .video-gallery .gallery-item {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .video-gallery .gallery-item {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 70%;
  }
}
.video{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: rgba(255,255,255,0.8);
	display: none;
}
.video video{
	z-index: 99999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	outline: none;
	border: none;
}
.video .close{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#project .content .video-gallery .gallery-item .gallery-item-caption i{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 15px;
    font-size: 30px;
}

@media screen and (max-width: 1150px){
	.video video{
		width: 600px;
		height: 450px;
	}
}
@media screen and (max-width: 850px){
	.video video{
		width: 400px;
		height: 290px;
		object-fit: contain;
	}
}
@media screen and (max-width: 750px){
	.section-header,#gallery h1{
		font-size: 35px;
	}
}
@media screen and (max-width: 500px){
	.video-gallery .gallery-item{

	}
	.section-header,#gallery h1{
		font-size: 30px;
	}
}
@media screen and (max-width: 400px){
	.section-header,#gallery h1{
		font-size: 26px;
	}
}
@media screen and (max-width: 550px){
	.video-gallery .gallery-item h2{
		font-size: 16px;
	}
	.video video{
		width: 350px;
		height: 270px;
		object-fit: contain;
	}
}
@media screen and (max-width: 420px){
	.video video{
		width: 300px;
		height: 200px;
		object-fit: contain;
	}
}
/*============================skill===================*/
.skill{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #0002;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill .exp{
    position: relative;
    width: 400px;
    height: 550px;
    margin-top: 50px;
}
.skill .exp h1,
.skill .lang h1{
    color: #018cff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
}
.skill .exp hr,
.skill .lang hr{
    display: block;
    height: 3px;
    box-shadow: none;
    border: none;
    background: #0008;
}
.skill .exp .content{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 207px;
    margin-top: 20px;
}
.skill .exp .content .bar{
    position: relative;
    width: 3px;
    height: 90%;
    top: 10%;
    background: #018cff;
}
.skill .exp .content .bar::before{
    position: absolute;
    top: -10%;
    left: 0;
    content: '';
    width: 8px;
    height: 8px;
    background: #222;
    transform: translateX(-4px);
    border-radius: 50%;
}
.skill .exp .content .cont{
    position: relative;
    width: calc(100% - 40px);
    padding-top: 20px;
    height: calc(100% - 20px);
}
.skill .exp .content .cont h1{
    font-family:  'Roboto', sans-serif;
    margin-bottom: 15px;
    font-size: 23px;
    color: #000;
}
.skill .exp .content .cont h2{
    margin-bottom: 15px;
    font-size: 18px;
}
.skill .lang{
    position: relative;
    width: 400px;
    height: 550px;
    margin-top: 50px;
}
.skill .lang p{
    margin-top: 20px;
    font-size: 17px;
}
.skill .lang span{
    display: block;
    width: 80%;
    height: 5px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    background: #0002;
    overflow: hidden;
}
.skill .lang span::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: var(--i);
    background: #018cff;
    border-radius: 10px;
    transition: 0.4s;
}
@media screen and (max-width:460px){
    .skill .lang,
    .skill .exp{
        transform: scale(0.8);
    }
}
@media screen and (max-width:360px){
    .skill .exp .content{
        height: 260px;
    }
}
footer{
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==========================================================*/
